<%= form_for(@sensor_datum) do |f| %>
  <% if @sensor_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor_datum.errors.count, "error") %> prohibited this sensor_datum from being saved:</h2>

      <ul>
      <% @sensor_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ruido %><br>
    <%= f.number_field :ruido %>
  </div>

  <div class="field">
    <%= f.label :dispositivo_id %><br>
    <%= f.number_field :dispositivo_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
