<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dispositivo.name %>
</p>

<p>
  <strong>Local:</strong>
  <%= @dispositivo.local %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @dispositivo.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @dispositivo.long %>
</p>

<%= link_to 'Edit', edit_dispositivo_path(@dispositivo) %> |
<%= link_to 'Back', dispositivos_path %>
